.App {
  background-color: $lightColor;
  padding: 70px 140px 70px 140px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .filter{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    

    &--container{

      &__item-1{
        width: 400px;
        border: 0.071rem $mainColor solid;
        font-size: 1rem;
        padding: 0rem 0.286rem 0rem 0.286rem;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
        
        .input-1{
          margin: 0.429rem;
          padding: 0.214rem;
          border-style: none;
          font-size: 0.80rem;
        }

        .button-1{
          background-color: $mainColor;
          border-style: none;
          color: white;
          padding: 0rem 0.714rem 0rem 0.714rem;
          font-size: 0.80rem;
        }

        .label-2{
          align-self: center;
          margin-left: 0.571rem;
          margin-right: 0.571rem;
          font-size: 0.80rem;
        }

        .input-2{
          align-self: center;
          border-style: none;
        }  
      }
    }

    &--text{
      text-align: center;
      align-self: center;
      margin-left: 1.071rem;
      font-size: 0.75rem;

    }
  }

  .highlight{
    color: $mainColor;
  }

  .content-container{
    padding:10px 10px;

    .showlist-container{
      margin-top: 60px;
      padding: 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;


      .show-item{
        list-style-type: none;
        border: $mainColor 0.071rem solid;
        margin: 8px;
        padding: 0.8rem;
        width: 250px;
        height: 410px;
        :hover{
          background-color: $darkColor;
        }

        &__title{
          margin-bottom: 26px;
          color: black;
        }

        &__subtitle{
          font-weight: 400;
          color: $mainColor;
          font-size: 0.75rem;
          margin-bottom: 15px;
        }

        &__picture{
          background-color: lightgrey;
          width: 95%;
          height: 75%;
        }
      }
    }

  }

  .showlist-detail{
    align-self: center;
    border: $mainColor solid 0.071rem;
    padding: 20px;
    width: 600px;

    .show{
      list-style-type: none;

      &__picture{
        width: 130px;
      }

      &__content{
        text-align: left;

        &--title{
          margin: 0px 0px 5px 0px;
        }

        &--subtitle{
          margin: 0px;
          margin: 0px 0px 40px 0px;
        }

        &--text{
          background-color: grey;
          margin: 0px 0px 40px  ;
        }
      }

      &__big-picture{
       width: 300px;
      }
    }
  }
}
