<div class="container">
    <div class="container-aside">
        <div class="container--item">
            <div class="aside-img">ASIDE</div>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam cupiditate voluptatum ex vitae, quo beatae expedita, aliquam consectetur libero dignissimos at, quis error impedit culpa incidunt! Minus earum adipisci quidem.</p>
        </div>

    <div class="container--item">
        <nav class="aside-nav">
        <h4> Titulo de la nav </h4>
            <ul>
                <li>
                    <a href="" title="">Enlace 1</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="" title="">Enlace 1</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="" title="">Enlace 1</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="" title="">Enlace 1</a>
                </li>
            </ul>
        </nav>

        <div class="aside-link">
        <h4>Titulo de la lista </h4>
            <ul>
                <li>Enlace 1</li>
            </ul>
            <ul>
                <li>
                    <a href="" title="">Enlace 1</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="" title="">Enlace 1</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="" title="">Enlace 1</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>