<div class="page">

    <div class="container">
        <article class="container--article">
            <h2>Titulo uno</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dicta culpa quam ullam, laborum dignissimos perferendis incidunt vel quos, repellendus inventore laboriosam illo similique fugiat accusamus officiis rem at alias.</p>
        </article>

        <article class="container--article">
            <h2>Titulo dos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dicta culpa quam ullam, laborum dignissimos perferendis incidunt vel quos, repellendus inventore laboriosam illo similique fugiat accusamus officiis rem at alias.</p>
        </article>

        <article class="container--article">
            <h2>Titulo tres</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dicta culpa quam ullam, laborum dignissimos perferendis incidunt vel quos, repellendus inventore laboriosam illo similique fugiat accusamus officiis rem at alias.</p>
        </article>
    </div>

</div>