html{
  font-size: 14px;

}

body{
  font-family: 'Montserrat', sans-serif;
}

header{
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-spotify img{
  width: 100px;
  padding: 5%;
}
.main-menu ul{
  display: none;
}

.main-menu ul li a{
  color: white;
  text-decoration: none;
}

.main-menu ul li{
  display: inline;
  font-family: Helvetica;
  font-size: small;
  margin-right: 15px;
}

.main-menu .menu-icon{
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../images/menu.png);
  background-size: 100%;
  background-repeat: no-repeat;

}

.hero h1{
  font-size: 2.5rem;
  font-weight: bold;
}


.hero p{
  font-size: 1.2rem;
  line-height: 1.5rem;
}

 
.hero {
  background: #529cf1;
  color: white;
  display: flex;
  height: 80%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 4%;
  padding-right: 4%;
}

.hero a{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #25c05c;
  text-decoration: none;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  border-radius: 20px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  border-style: none;
  display: inline-block;
}

.hero .letra-pequeña{
  font-size: 0.65rem;
  margin-top: 1%;
}

@media all and (min-width: 768px) {
  .main-menu ul{
    display: block;
  }
  .main-menu .menu-icon{
    display: none;
  }

  .hero {
    height: 40vh;
    background-image: url(../images/premium_dancer.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .hero a{
    width: 210px;
  }

  .hero h1{
    font-size: 3rem;
    font-weight: bold;
  }
  
}


@media all and (min-width: 1120px){
  
  .container{
    max-width: 1120px;
    margin: auto;
    width: 100%;
    padding: 20px;
   }

   .hero {
    height: 40vh;
    background-image: url(../images/premium_dancer.png);
    background-position: 85%;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .hero a{
    width: 210px;
  }

  .hero h1{
    font-size: 3rem;
    font-weight: bold;
  }
  
}