body *{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    text-align: center;
}
.header{
    background: purple;
    height:100px;
}

.container{
    background:red;
    height: 600px;
}

@media all and (min-width:480px) and (max-width:768px){
    .container{
        background-color: yellow;
    }
}

@media all and (min-width:768px){
    .container{
        background-color:green;
    }
}
.footer{
    background: pink;
    height:100px;
}

