
<form>
    <div class="input-w-icon">
        <img src="images/user.png" alt="Usuario" />
        <input type="text" name="username" /> </div>
    <div class="personal-info"> 
        <label for="lastname">Last name:</label>
        <input placeholder="lastname" class="input" type="text" name="lastname" />
        <label for="address">Dirección:</label>
        <input placeholder="Adress" type="text" id="address" name="address" value="Calle Méndez Álvaro"/>
        <label for="creditcard">Credit card</label>
        <input placeholder="Credit-card" class="input" type="number" name="creditcard" disabled />
    </div>   
</form>