.App {  
  padding:50px;
  background-color: rgb(238, 238, 238);
  height: 50vh;
  margin: 50px;
  border-radius: 7px;
}

.text-input{
  width: 68%;
  height: 20px;
  margin-left: 15px;
  border-radius: 7px;
  border-style: none;
}

.container{
  margin-top: 40px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 7px;
  width: 90%;
  height: 10%;
}
